:root {
    --primary-color: #02727a;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 300px;
}

.btn-primary:hover,
button.btn-primary:active {
    background-color: var(--primary-color) !important;
    opacity: .96;
}

.text-primary {
    color: var(--primary-color) !important;
    fill: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

form {
    max-width: 500px;
}