:root {
    --primary-color: #bf7e04;
}

body {
    overflow-x: hidden;
}

.loader {
    fill: var(--primary-color);
    height: 40px;
    width: 40px;
    animation: loader 900ms infinite linear;
}

@keyframes loader {
    to {
        transform: rotateZ(360deg);
    }
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    border-radius: 300px;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary:hover,
button.btn-primary:active {
    background-color: var(--primary-color) !important;
    opacity: .96;
}

.text-primary {
    color: var(--primary-color) !important;
    fill: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

form {
    max-width: 500px;
}