:root {
    --primary-color: #02727a;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: #000;
}

.text-primary {
    color: var(--primary-color) !important;
    fill: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color);
}